discord.py>=2.3
requests
feedparser
python-dotenv>=1.0.0
timezonefinder
pytz
asyncpg==0.29.0
alembic==1.13.1
SQLAlchemy==2.0.30
croniter
psycopg2-binary==2.9.9
python-dateutil
beautifulsoup4
yfinance
matplotlib
pandas
watchfiles
watchdog
APScheduler==3.10.4
google-genai>=1.32.0
